<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and SQL practice</title>
</head>
<body>
    <h1>Testing with Chinook Database</h1>
    <h2>Inserting a First Name, Last Name, and Email values into the Customer table</h2>
    <form method="post" action=""> 
        <label for="FirstName">First Name</label><input type="text" name="FirstName" id="FirstName"> 
        <label for="LastName">Last Name</label><input type="text" name="LastName" id="LastName"> 
        <label for="Email">Email</label><input type="email" name="Email" id="Email"> 
        <input type="submit"> 
    </form> 
</body>
</html>